{% extends "BookshopAdminBundle::layout.html.twig" %}
{% block body %}
<!--  start page-heading -->
<div id="page-heading">
    <h1>Product list</h1>
</div>
<!-- end page-heading -->

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized"><img src="{{asset('bundles/bookshopadmin/images/shared/side_shadowleft.jpg') }}" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="{{asset('bundles/bookshopadmin/images/shared/side_shadowright.jpg') }}" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner ...................................................................... START -->
            <div id="content-table-inner">

                <div class="filter-product">
                    <!-- start filter form -->
                    <form action="{{ path('bookshop_admin_product_list') }}" method='GET'>
                    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                        <tr>
                            <th valign="top">Product title:</th>
                            <td><input type="text" name="title" class="inp-form" value="{% if 'title' in app.request.query.all|keys %}{{ app.request.query.all['title']}}{% endif %}"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th valign="top">Category:</th>
                            <td>	
                                <select name="category">
                                    <option value="">All</option>
                                    {% for category in categories%}
                                    {% if 'category' in app.request.query.all|keys and app.request.query.all['category'] == category.id %}
                                    <option value="{{category.id}}" selected>{{category.name}}</option>
                                    {% else %} 
                                    <option value="{{category.id}}">{{category.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th valign="top">Stock:</th>
                            <td><input type="checkbox" name="stock" class="inp-form" {% if 'stock' in app.request.query.all|keys %}checked{% endif%}/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td valign="top">
                                <input type="submit" value="" class="form-submit" />
                        <a href="{{ path('bookshop_admin_product_list') }}"><button type="button" value="" class="form-reset"></button></a>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    </form>
                    <!--  end filter form  -->
                </div>
                <!--  start table-content  -->
                <div id="table-content">
                    <!--  start product-table ..................................................................................... -->
                    <form id="mainform" action="">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                            <tr>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(products, 'Title'|trans({},'BookshopBookshopBundle'), 'p.title') }}</th>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(products, 'Category'|trans({},'BookshopBookshopBundle'), 'c.name') }}</th>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(products, 'Short_description'|trans({},'BookshopBookshopBundle'), 'p.shortdescription') }}</th>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(products, 'Price'|trans({},'BookshopBookshopBundle'), 'p.price') }}</th>
                                <th class="table-header-repeat line-left">{{ knp_pagination_sortable(products, 'Stock'|trans({},'BookshopBookshopBundle'), 'p.stock') }}</th>
                                <th class="table-header-options line-left"><a href="">Options</a></th>
                            </tr>
                            {% for product in  products %}
                            <tr {% if loop.index is odd %}{% else %}class="alternate-row"{% endif %}>
                                <td>{{product.title}}</td>
                                <td>{{product.category.name}}</td>
                                <td>{{product.description|slice(0,70)}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.stock}}</td>
                                <td class="options-width">
                                    <a href="{{path('bookshop_admin_product_new_edit',{'id': product.id})}}" title="Edit" class="icon-1 info-tooltip"></a>
                                    {% if product.active == 1 %}
                                    <a href="{{path('bookshop_admin_product_delete',{'id': product.id})}}" title="Delete" class="icon-2 info-tooltip"></a>
                                    {% else %}
                                    <a href="{{path('bookshop_admin_product_undelete',{'id': product.id})}}" title="Undelete" class="icon-5 info-tooltip"></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <!--  end product-table................................... --> 
                    </form>
                </div>
                <!--  end content-table  -->

                <!--  start paging..................................................... -->
                <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                    <tr>
                        <td>
                            {{ knp_pagination_render(products,'BookshopAdminBundle:Pagination:pagination.html.twig') }}
                        </td>
                    </tr>
                </table>
                <!--  end paging................ -->

                <div class="clear"></div>

            </div>
            <!--  end content-table-inner ............................................END  -->
        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
{% endblock %}