{% extends "BookshopBookshopBundle::layout.html.twig"  %}
{% block leftsidebar%}
<div class="col-left sidebar">
    <div class="block block-layered-nav">
        <div class="block-title">
            <strong><span>Shop By</span></strong>
        </div>
        <div class="block-content">
            <div class="currently">
                <p class="block-subtitle">Currently Shopping by:</p>
                <ol>
                    {%if 'pricerange' in app.request.requesturi %} 
                        <li>
                            <span class="label">Price:</span> <span class="value">0,00 US$ - 49,99 US$</span>
                            <a class="btn-remove" href="#" title="Remove This Item">Remove This Item</a> 
                        </li>
                    {% endif %}
                    </ol>
                </div>
                <div class="actions"><a href="#">Clear All</a></div>
                <p class="block-subtitle">Shopping Options</p>
                <dl id="narrow-by-list">
                    <dt>Price</dt>
                    <dd>
                        <ol>
                            <li><a href="{% if '?' in app.request.requesturi%} {{app.request.requesturi~'&pricerange=1'}} {% else %} {{app.request.requesturi~'?pricerange=1'}} {% endif %}"><span class="price">0,00 US$</span> - <span class="price">49,99 US$</span></a></li>
                            <li><a href="{% if '?' in app.request.requesturi%} {{app.request.requesturi~'&pricerange=2'}} {% else %} {{app.request.requesturi~'?pricerange=2'}} {% endif %}"><span class="price">50,00 US$</span> - <span class="price">99,99 US$</span></a></li>
                            <li><a href="{% if '?' in app.request.requesturi%} {{app.request.requesturi~'&pricerange=3'}} {% else %} {{app.request.requesturi~'?pricerange=3'}} {% endif %}"><span class="price">100,00 US$</span> and above</a></li>
                        </ol>
                    </dd>
                    <dt>Stock</dt>
                    <dd>
                        <ol>
                            <li><a href="{% if '?' in app.request.requesturi%} {{app.request.requesturi~'&stock=1'}} {% else %} {{app.request.requesturi~'?stock=1'}} {% endif %}">Available</a></li>
                            <li><a href="{% if '?' in app.request.requesturi%} {{app.request.requesturi~'&stock=0'}} {% else %} {{app.request.requesturi~'?stock=0'}} {% endif %}">Soon</a></li>
                        </ol>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% endblock%}

{% block body%}
    <div class="breadcrumbs">
        <ul>
            <li class="home">
                <a href="{{ path('bookshop_bookshop_homepage') }}" title="Go to Home Page">Home</a>
                <span>/ </span>
            </li>
            <li class="category35">
                <strong>{{category.name}}</strong>
            </li>
        </ul>
    </div>
    <div class="col-main">
        <div class="page-title category-title">
            <h1>{{category.name}}</h1>
        </div>

        <div class="category-products">
            <div class="toolbar">
                <div class="pager">
                    <p class="amount">
                        <strong>{{ products.getTotalItemCount }} Products</strong>
                    </p>
                    {{ knp_pagination_render(products) }}
                </div>
                <div class="sorter">
                    <div class="sort-by">
                        <label>Sort By</label>
                        <label {% if products.isSorted('a.title') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(products, 'Title'|trans({},'AcmeDemoBundle'), 'a.title') }}</label>
                        <label {% if products.isSorted('a.price') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(products, 'Price'|trans({},'AcmeDemoBundle'), 'a.price') }}</label>
                    </div>
                   {% if products.isSorted('a.title') %} <label>Sorted by Title {% if products.params.direction  == 'asc' %} Ascendent {% else %} Descendent {% endif %}</label>{% endif %}
                   {% if products.isSorted('a.price') %} <label>Sorted by Price {% if products.params.direction  == 'asc' %} Ascendent {% else %} Descendent {% endif %}</label>{% endif %}
                </div>
            </div>
            {% for product in  products %}
                {% if loop.index % 3 == 1 %}
            <ul class="products-grid">
                <li class="item first">
                    <a href="{{path('product',{'id':product.id})}}" title="{{product.title}}" class="product-image">
                        <img src="{%if product.image!=null%}{{asset([product.image.path,product.image.filename]|join)}}{%endif%}"
                             width="135" height="135" alt="{{product.title}}" />
                    </a>
                    <h2 class="product-name"><a href="{{path('product',{'id':product.id})}}" title="{{product.title}}">{{product.title}}</a></h2>
                    <div class="price-box">
                        <span class="regular-price" id="product-price-168">
                            <span class="price">{{product.price}} US$</span>
                        </span>
                    </div>
                    {%if product.stock>0%}
                    <div class="actions">
                        <button type="button" title="Add to Cart" class="button btn-cart" >
                            <span><span>Add to Cart</span></span>
                        </button>
                    </div>
                    {% else %}
                    <div class="actions">
                        <span class="regular-price"><span>Product not in stock</span></span>
                    </div>
                    {%endif%}
                </li>
                {% endif %}
                {% if loop.index % 3 == 2 %}
                <li class="item">
                    <a href="{{path('product',{'id':product.id})}}" title=" {{product.title}}" class="product-image">
                        <img src="{%if product.image!=null%}{{asset([product.image.path,product.image.filename]|join)}}{%endif%}"" width="135" height="135" alt=" {{product.title}}" />
                    </a>

                    <h2 class="product-name">
                        <a href="{{path('product',{'id':product.id})}}" title=" {{product.title}}"> {{product.title}}</a>
                    </h2>

                    <div class="price-box">
                        <span class="regular-price" id="product-price-170">
                            <span class="price">{{product.price}} US$</span>
                        </span>
                    </div>

                   {%if product.stock>0%}
                    <div class="actions">
                        <button type="button" title="Add to Cart" class="button btn-cart" >
                            <span><span>Add to Cart</span></span>
                        </button>
                    </div>
                    {% else %}
                    <div class="actions">
                        <span class="regular-price"><span>Product not in stock</span></span>
                    </div>
                    {%endif%}
                </li>
               {% endif %}
               {% if loop.index % 3 == 0 %}
                <li class="item">
                    <a href="{{path('product',{'id':product.id})}}" title="{{product.title}}" class="product-image">
                        <img src="{%if product.image!=null%}{{asset([product.image.path,product.image.filename]|join)}}{%endif%}"" width="135" height="135" alt="{{product.title}}" />
                    </a>

                    <h2 class="product-name">
                        <a href="{{path('product',{'id':product.id})}}" title="{{product.title}}">{{product.title}}</a>
                    </h2>

                    <div class="price-box">
                        <span class="regular-price" id="product-price-170">
                            <span class="price">{{product.price}} US$</span>
                        </span>
                    </div>
                    {%if product.stock>0%}
                    <div class="actions">
                        <button type="button" title="Add to Cart" class="button btn-cart" >
                            <span><span>Add to Cart</span></span>
                        </button>
                    </div>
                    {% else %}
                    <div class="actions">
                        <span class="regular-price"><span>Product not in stock</span></span>
                    </div>
                    {%endif%}
                </li>
            </ul>    
            {% endif %}
            {% if loop.last%}
            </ul>    
            {% endif %}
        {% endfor %}

            <div class="toolbar-bottom">
                <div class="toolbar">
                    <div class="pager">
                        <p class="amount">
                            <strong>{{ products.getTotalItemCount }} Products</strong>
                        </p>
                    {{ knp_pagination_render(products) }}
                    </div>
                    <div class="sorter">
                        <div class="sort-by">
                            <label>Sort By</label>
                            <label {% if products.isSorted('a.title') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(products, 'Title'|trans({},'AcmeDemoBundle'), 'a.title') }}</label>
                            <label {% if products.isSorted('a.price') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(products, 'Price'|trans({},'AcmeDemoBundle'), 'a.price') }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
