{% extends "BookshopAdminBundle::layout.html.twig" %}
{% block body %}
<!--  start page-heading -->
<div id="page-heading">
    <h1>Order list</h1>
</div>
<!-- end page-heading -->

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized"><img src="{{asset('bundles/bookshopadmin/images/shared/side_shadowleft.jpg') }}" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="{{asset('bundles/bookshopadmin/images/shared/side_shadowright.jpg') }}" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner ...................................................................... START -->
            <div id="content-table-inner">

                <div class="filter-product">
                    <!-- start filter form -->
                    <form action="{{ path('bookshop_admin_order_list') }}" method='GET'>
                    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                        <tr>
                            <th valign="top">Username:</th>
                            <td><input type="text" name="username" class="inp-form" value="{% if 'username' in app.request.query.all|keys %}{{ app.request.query.all['username']}}{% endif %}"/>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th valign="top">Status:</th>
                            <td>	
                                <select name="state">
                                    <option value="" >All</option>
                                    {% for state in states %}
                                    <option value="{{ state.id }}" {% if 'state' in app.request.query.all|keys and app.request.query.all['state'] == state.id %} selected {% endif %}>{{ state.name }}</option>
                                    {%  endfor %}
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th valign="top">Created at:</th>
                            <td>
                                {% set date_filters ={'all': 'All', 'day': '1 day ago', 'month': '1 month ago', 'year': '1 year ago'} %}
                                <select name="created">
                                    {% for key,value in date_filters %}
                                    <option value="{{key}}" {% if 'created' in app.request.query.all|keys and app.request.query.all['created'] == key %} selected {% endif %}>{{value}}</option>   
                                    {% endfor %}
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td valign="top">
                                <input type="submit" value="" class="form-submit" />
                                <a href="{{ path('bookshop_admin_order_list') }}"><button type="button" value="" class="form-reset"  ></button></a>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    </form>
                    <!--  end filter form  -->
                </div>
                <!--  start table-content  -->
                <div id="table-content">
                    <!--  start product-table ..................................................................................... -->
                    <form id="mainform" action="">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                            <tr>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(orders, 'orders.user.username'|trans({},'BookshopBookshopBundle'), 'u.username') }}</th>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(orders, 'orders.user.first_name'|trans({},'BookshopBookshopBundle'), 'u.first_name') }}</th>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(orders, 'orders.user.last_name'|trans({},'BookshopBookshopBundle'), 'u.last_name') }}</th>
                                <th class="table-header-repeat line-left minwidth-1">{{ knp_pagination_sortable(orders, 'orders.state.label'|trans({},'BookshopBookshopBundle'), 's.name') }}</th>
                                <th class="table-header-repeat line-left">{{ knp_pagination_sortable(orders, 'orders.date'|trans({},'BookshopBookshopBundle'), 'o.date') }}</th>
                                <th class="table-header-repeat line-left">{{ knp_pagination_sortable(orders, 'orders.total'|trans({},'BookshopBookshopBundle'), 'o.total') }}</th>
                                <th class="table-header-options line-left"><a href>Options</a></th>
                            </tr>
                            {% for order in  orders %}
                            <tr {% if loop.index is odd %}{% else %}class="alternate-row"{% endif %}>
                                <td>{{order.user.username}}</td>
                                <td>{{order.user.firstName}}</td>
                                <td>{{order.user.lastName}}</td>
                                <td>{{order.state.name}}<a href=""></a></td>
                                <td>{{order.date|date('Y-m-d H:i:s')}}</td>
                                <td>{{order.total}}</td>
                                <td class="options-width">
                                    {% if order.state.id == 1%}
                                        <a href="{{path('bookshop_admin_order_set_status',{'id': order.id, 'stateId': states[1].id})}}" title="{{states[1].name}}" >{{states[1].name}}</a>
                                        <a href="{{path('bookshop_admin_order_set_status',{'id': order.id, 'stateId': states[2].id})}}" title="{{states[2].name}}" >{{states[2].name}}</a>
                                    {% elseif order.state.id == 2 %}
                                        <a href="{{path('bookshop_admin_order_set_status',{'id': order.id, 'stateId': states[2].id})}}" title="{{states[2].name}}" >{{states[2].name}}</a>
                                        <a href="{{path('bookshop_admin_order_set_status',{'id': order.id, 'stateId': states[3].id})}}" title="{{states[3].name}}" >{{states[3].name}}</a>
                                    {% elseif order.state.id == 3 %}
                                        <a href="{{path('bookshop_admin_order_set_status',{'id': order.id, 'stateId': states[3].id})}}" title="{{states[3].name}}" >{{states[3].name}}</a>
                                        <a href="{{path('bookshop_admin_order_set_status',{'id': order.id, 'stateId': states[4].id})}}" title="{{states[4].name}}" >{{states[4].name}}</a>
                                    {% endif %}
                                    <a href="{{path('bookshop_admin_order_view', {'id': order.id})}}" title="View" class="icon-1 info-tooltip"></a>
                                    <a href="" title="Delete" class="icon-2 info-tooltip"></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <!--  end product-table................................... --> 
                    </form>
                </div>
                <!--  end content-table  -->

                <!--  start paging..................................................... -->
                <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
                    <tr>
                        <td>
                            {{ knp_pagination_render(orders,'BookshopAdminBundle:Pagination:pagination.html.twig') }}
                        </td>
                    </tr>
                </table>
                <!--  end paging................ -->

                <div class="clear"></div>

            </div>
            <!--  end content-table-inner ............................................END  -->
        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
{% endblock %}