{% extends '::admin_base.html.twig' %}

{% block navigation%}
<div class="table">
        <ul class="{% if app.request.get('_route') in ['bookshop_admin_user_list','bookshop_admin_user_new_edit','bookshop_admin_user_edit'] %}current{% else %}select{% endif %}">
            <li>
                <a href="{{path('bookshop_admin_user_list')}}"><b>Users</b></a>
                <div class="select_sub show">
                    <ul class="sub">
                        <li><a href="{{ path('bookshop_admin_newuser_edit') }}">Add User</a></li>
                        <li><a href="{{path('bookshop_admin_user_list')}}">List Users</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="{% if app.request.get('_route') in ['bookshop_admin_product_list','bookshop_admin_product_add','bookshop_admin_product_new_edit','bookshop_admin_product_edit'] %}current{% else %}select{% endif %}">
            <li><a href="{{path('bookshop_admin_product_list')}}"><b>Products</b></a>
                <div class="select_sub show">
                    <ul class="sub">
                        <li><a href="{{path('bookshop_admin_product_add')}}">Add Product</a></li>
                        <li><a href="{{path('bookshop_admin_product_list')}}">List Products</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="{% if app.request.get('_route') in ['bookshop_admin_order_list'] %}current{% else %}select{% endif %}">
            <li>
                <a href="{{path('bookshop_admin_order_list')}}"><b>Orders</b></a>
                <div class="select_sub show">
                    <ul class="sub">
                        <li><a href="{{path('bookshop_admin_order_list')}}">List Orders</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        
        
        <div class="nav-divider">&nbsp;</div>
        <div class="clear"></div>
        </div>
        <div class="clear"></div>
{% endblock %}

{% block body%}
{% endblock %}
