<div class="block block-cart">
    <div class="block-title">
        <strong><span>My Cart</span></strong>
    </div>
    <div class="block-content">
        <div class="summary">
            <p class="amount">There are <a href="{{path('mycart')}}">{{ items|length }} items</a> in your cart.</p>
            <p class="subtotal">
                <span class="label">Cart Subtotal:</span> <span class="price">{{ cart.total }} US$</span>
            </p>
        </div>

        <div class="actions">
            <button type="button" title="Checkout" onclick=" window.location.href = '{{ path('checkout') }}'" class="button" ><span><span>Checkout</span></span></button>
        </div>

        <p class="block-subtitle">Recently added item(s)</p>

        <ol id="cart-sidebar" class="mini-products-list">
            
            {% for i in 0..2 %}
                {% if items[i] is defined %}
                <li class="item">
                    <a href="{{path('product',{'id':items[i].productId.id})}}" title="{{items[i].productId.title}}" class="product-image">
                        <img src="{%if items[i].productId.image!=null%}{{asset([items[i].productId.image.path,items[i].productId.image.filename]|join)}}{%endif%}" width="50" height="50" alt="Ottoman" />
                    </a>
                    <div class="product-details">
                        <a href="{{path('deleteproduct',{'id':items[i].id,'cartid':cart.id})}}" title="Remove This Item" class="btn-remove">Remove This Item</a>
                        <a href="{{path('mycart')}}" title="Edit item" class="btn-edit">Edit item</a>
                        <p class="product-name"><a href="{{path('product',{'id':items[i].productId.id})}}">{{items[i].title}}</a></p>
                        <strong>{{items[i].quantity}}</strong> x
                        <span class="price">{{items[i].productId.price}} US$</span>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            
            </ol>
        </div>
    </div>
