{#
/**
 * @file
 * Twitter Bootstrap v3 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module 
 * from the Twitter Bootstrap CSS Toolkit
 * http://getbootstrap.com/components/#pagination
 *
 * @author Pablo Díez <pablodip@gmail.com>
 * @author Jan Sorgalla <jsorgalla@gmail.com>
 * @author Artem Ponomarenko <imenem@inbox.ru>
 * @author Artem Zabelin <artjomzabelin@gmail.com>
 */
#}
<div class="pages">
{% if pageCount > 1 %}
        

    {% if previous is defined %}
                {% if previous != 1 %}
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" class="page-far-left" ></a>
                {% endif %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="page-left" ></a>
    {% endif %}

    

    {% for page in pagesInRange %}
        {% if page != current %}
                <!-- <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a> -->
        {% else %}
                <div id="page-info"><strong>{{ page }}</strong> / {{ pageCount }}</div>
        {% endif %}

    {% endfor %}

    

    {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="page-right"></a>
                {% if next != pageCount %}
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="page-far-right"></a>
                {% endif %}
                    
    {% endif %}
    
                
{% endif %}
    </div>
