<h4>Shipping Address</h4>
<address>
{{ shipping_address.firstName }}<br/>
{{ shipping_address.lastName }}<br/>
{{ shipping_address.email }}<br/>
{{ shipping_address.address }} {{ shipping_address.city }}<br/>
{{ shipping_address.country }}<br/>
</address>
<a href="">Edit Shipping Address</a>