<h4>{{ 'address.show.title.shipping'|trans({},'BookshopBundle') }}</h4>
<address>
    {% if not shipping_address is null %}
    {{ shipping_address.firstName }}<br/>
    {{ shipping_address.lastName }}<br/>
    {{ shipping_address.email }}<br/>
    {{ shipping_address.address }} {{ shipping_address.city }}<br/>
    {{ shipping_address.country }}<br/>
    {% endif %}
</address>
<a href="{{path('dashboard_shipping_addr_preedit')}}">{{ 'address.edit.title.shipping'|trans({},'BookshopBundle') }}</a>