{% trans_default_domain 'FOSUserBundle' %}
<div class="account-create">
    <div class="page-title">
        <h1>{{ 'profile.edit.title'|trans({},'BookshopBundle') }}</h1>
    </div>
        
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" id="form-validate" class="fos_user_profile_edit">
    
        <div class="fieldset">
            
            <ul class="form-list">
                <li>
                    <div class="field">
                        <label for="username" class="required"><em>*</em>{{ 'profile.show.username'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            {% set u_class = '' %}
                            {% if form_errors(form.username) %} {% set u_class = u_class~'validation-failed ' %}
                            {% endif %}
                            {{ form_widget(form.username, {'attr': {'class': u_class~'input-text required-entry'} }) }}
                            {% if form_errors(form.username) %}
                            <div class="validation-advice" id="advice-required-entry-email" style="">{{ form_errors(form.username) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <label for="username" class="required"><em>*</em>{{ 'profile.edit.current_password'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                                {% set u_class = '' %}
                                {% if form_errors(form.current_password) %} {% set u_class = u_class~'validation-failed ' %}
                                {% endif %}
                                {{ form_widget(form.current_password, {'attr': {'class': u_class~'input-text required-entry'} }) }}
                                {% if form_errors(form.current_password) %}
                                <div class="validation-advice" id="advice-required-entry-email" style="">{{ form_errors(form.username) }}</div>
                                {% endif %}
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="customer-name">
                        <div class="field name-firstname">
                            <label for="firstname" class="required"><em>*</em>{{ 'profile.show.first_name'|trans({},'BookshopBundle') }}</label>
                            <div class="input-box">
                                {% set firstNClass = '' %}
                                {% if form_errors(form.first_name) %} 
                                    {% set firstNClass = firstNClass~'validation-failed ' %}
                                {% endif %}
                                {{ form_widget(form.first_name, {'attr': {'class': firstNClass~'input-text required-entry'} }) }}
        <!--<input type="text" id="firstname" name="firstname" value="" title="First Name" maxlength="255" class="input-text required-entry validation-failed"  />-->
                                {% if form_errors(form.first_name) %}
                                    <div class="validation-advice" id="advice-required-entry-email" style="">{{ form_errors(form.first_name) }}</div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="field name-lastname">
                            <label for="lastname" class="required"><em>*</em>{{ 'profile.show.last_name'|trans({},'BookshopBundle') }}</label>
                            <div class="input-box">
                                {% set lastNClass = '' %}
                                {% if form_errors(form.last_name) %} 
                                    {% set lastNClass = lastNClass~'validation-failed ' %}
                                {% endif %}
                                {{ form_widget(form.last_name, {'attr': {'class': lastNClass~'input-text required-entry'} }) }}
                                {% if form_errors(form.last_name) %}
                                    <div class="validation-advice" id="advice-required-entry-email" style="">{{ form_errors(form.last_name) }}</div>
                                {% endif %}    
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <label for="email_address" class="required"><em>*</em>{{ 'profile.show.email'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            {% set e_class = '' %}
                            {% if form_errors(form.email) %} 
                                {% set e_class = e_class~'validation-failed ' %}
                            {% endif %}
                            {{ form_widget(form.email, {'attr': {'class': e_class~'input-text required-entry'} }) }}
                            {% if form_errors(form.email) %}
                                <div class="validation-advice" id="advice-required-entry-email" style="">{{ form_errors(form.email) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">

                        <label for="mobile">{{ 'profile.show.mobile'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            {% set m_class = '' %}
                            {% if form_errors(form.mobile) %} {% set m_class = m_class~'validation-failed ' %}
                            {% endif %}
                            {{ form_widget(form.mobile, {'attr': {'class': m_class~'input-text required-entry','pattern' : ''} }) }}
                            {% if form_errors(form.mobile) %}
                                <div class="validation-advice" id="advice-required-entry-email" style="">{{ form_errors(form.mobile) }}</div>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <label>{{ 'profile.show.gender.label'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            {% for child in form.gender %}
                                {% if loop.index == 1 %}
                                    <label>{{ 'profile.show.gender.male'|trans({},'BookshopBundle') }} </label>
                                {% endif %}
                                {% if loop.index == 2 %}
                                    <label>{{ 'profile.show.gender.female'|trans({},'BookshopBundle') }} </label>
                                {% endif %}
                                {{ form_widget(child) }}
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="field">
                        <label for="education" class="required">{{ 'profile.show.education'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                                    {{ form_widget(form.education) }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        

        <div class="buttons-set">
            <p class="required">* Required Fields</p>
            {% if not app.request.server.get('HTTP_REFERER') is null %}
                <p class="back-link"><a href="{{app.request.server.get('HTTP_REFERER') }}" class="back-link"><small>&laquo; </small>Back</a></p>
            {% endif %}

            {{ form_rest(form) }}
            <div>
                <button type="submit" title="Submit" class="button" ><span><span>{{ 'profile.edit.submit'|trans }}</span></span></button>
            </div>
        </div>
    </form>
</div>
