{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="account-create">
    <div class="page-title">
        <h1>{{ 'profile.show.title'|trans({}, 'BookshopBundle') }}</h1>
    </div>
        
    <form action="{{ path('fos_user_profile_edit') }}" method="POST" id="form-validate" class="fos_user_profile_edit">
    
        <div class="fieldset">
            <!-- <h2 class="legend">Account information</h2> -->
            <ul class="form-list">
                <li>
                    <div class="field">
                        <label for="username" class="required"><em>*</em>{{ 'profile.show.username'|trans }}</label>
                        <div class="input-box">
                            <input type="text" id="username" name="username" value="{{ user.username }}" title="First Name" maxlength="255" class="input-text required-entry" disabled/>
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="customer-name">
                        <div class="field name-firstname">
                            <label for="firstname" class="required"><em>*</em>{{ 'profile.show.first_name'|trans({},'BookshopBundle') }}</label>
                            <div class="input-box">
                                <input type="text" id="firstname" name="firstname" value="{{ user.firstName }}" title="First Name" maxlength="255" class="input-text required-entry" disabled/>
                            </div>
                        </div>
                        <div class="field name-lastname">
                            <label for="lastname" class="required"><em>*</em>{{ 'profile.show.last_name'|trans({},'BookshopBundle') }}</label>
                            <div class="input-box">
                                <input type="text" id="lastname" name="firstname" value="{{ user.lastName }}" title="First Name" maxlength="255" class="input-text required-entry" disabled/>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <label for="email_address" class="required"><em>*</em>{{ 'profile.show.email'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            <input type="text" id="email_address" name="firstname" value="{{ user.email }}" title="First Name" maxlength="255" class="input-text required-entry" disabled/>
                        </div>
                    </div>
                    <div class="field">

                        <label for="mobile">{{ 'profile.show.mobile'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            <input type="text" id="email_address" name="mobile" value="{{ user.mobile }}" title="First Name" maxlength="255" class="input-text required-entry" disabled/>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="field">
                        <label for='gender'>{{ 'profile.show.gender.label'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            <label>{{ 'profile.show.gender.male'|trans({},'BookshopBundle') }} </label>
                            <input type="radio" id="email_address" name="gender" value='m' disabled {% if user.gender == 'm' %}checked{% endif%}/>
                            <br/>
                            <label>{{ 'profile.show.gender.female'|trans({},'BookshopBundle') }} </label>
                            <input type="radio" id="email_address" name="gender" value='f' disabled {% if user.gender == 'f' %}checked{% endif%}/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="education" class="required">{{ 'profile.show.education'|trans({},'BookshopBundle') }}</label>
                        <div class="input-box">
                            <select disabled>
                                <option value="0">-- Choose one --</option>
                                <option value="1">Under graduate</option>
                                <option value="2">Graduate</option>
                                <option value="3">University</option>
                                <option value="4">Post university</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        

        <div class="buttons-set">
            <p class="required">* Required Fields</p>
            {% if not app.request.server.get('HTTP_REFERER') is null %}
                <p class="back-link"><a href="{{app.request.server.get('HTTP_REFERER') }}" class="back-link"><small>&laquo; </small>Back</a></p>
            {% endif %}

            <div>
                <a href="{{ path('fos_user_profile_edit') }}">
                    <button type="button" title="{{ 'profile.edit.label'|trans({}, 'BookshopBundle') }}" class="button">
                        <span><span>{{ 'profile.edit.label'|trans({}, 'BookshopBundle') }}</span></span>
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>
</div>
